.dashboard {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 80vw;
}

.dashboard h1 {
    font-size: 2.2em;
    margin-bottom: 0.5em;
}

.description {
    color: #aaa;
    margin-bottom: 1em;
}

.noposts {
    text-align: center;
}

.noposts p {
    margin-bottom: 1.5em;
}

.noposts a {
    padding: 10px 25px;
}

.post_header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    width: 100%;
    padding: 10px;
}

.post_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #ccc;
    border-bottom: 1px solid #eee;
    padding: 10px;
    width: 100%;
}

.post_row p {
    color: #000;
}

.post_row button,
.post_row a {
    font-size: 0.75em;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.btn-outline {
    background-color: transparent;
    color: #000;
    padding: .5rem 1rem ;
    width: 2.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: .5rem;
    border: 1px solid #aaa;
    transition: background-color 0.3s ease;
}

.btn-outline:hover {
    background-color: var(--azul-escuro);
    color: #fff;    
}

.btn-danger{
    background-color: transparent;
    padding: .5rem 1rem ;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    border: 1px solid #aaa;
    transition: background-color 0.3s ease;
    transition: color 0.3s ease;
}

.btn-danger:hover {
    background-color: #dc3545;
    color: #fff;
}

a {
    text-decoration: none;
}

.displayName {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
}

.btn-edit {
    background-color: var(--laranja);
    padding: .5rem;
    border-radius: 100%;
    cursor: pointer;
}

.name {
    font-weight: 600;
}

.displayNameEdit {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.displayNameEdit input {
    padding: 0.3rem 1rem;
    border-radius: .25rem;
}

.displayNameEdit button {
    background-color: var(--azul-escuro);
    padding: .5rem;
    border-radius: 100%;
    cursor: pointer;
}