@font-face {
    font-family: 'Pacifico';
    src: local('Pacifico'), url('../assets/fonts/Pacifico-Regular.ttf');
}

@font-face {
    font-family: 'RobotoRegular';
    src: local('RobotoRegular'), url('../assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'RobotoBlack';
    src: local('RobotoBlack'), url('../assets/fonts/Roboto/Roboto-Black.ttf');
}

@font-face {
    font-family: 'RobotoBold';
    src: local('RobotoBold'), url('../assets/fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'RobotoLight';
    src: local('RobotoLight'), url('../assets/fonts/Roboto/Roboto-Light.ttf');
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --bege: #E9DDCD;
    --laranja: #D8782E;
    --azul-escuro: #445E6B;
    --azul-claro: #BCCDD7;
    --marrom: #5A4B48;
}

html {
    background-color: var(--bege);
    font-family: RobotoRegular, Verdana, Tahoma, sans-serif;
}