.header {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #445E6B;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 1000; /* Certifique-se de que o z-index seja maior que o z-index do StructurePage */
}

.logo {
    width: 2.5rem;
    height: auto;
    padding: 0.75rem;
}

.headerTitle {
    font-size: 1.5rem;
    color: #fff;
    font-family: Pacifico, cursive;
}

.petBlogContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

.linkHeader {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.linkHeader:hover {
    color: var(--azul-claro);
    font-weight: 600;
}

.menuHeaderDesktop {
    background-color: transparent;
    margin-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style: none;
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.menuHeaderMobile {
    
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.btnHeader {
    background-color: var(--azul-escuro);
    border: none;
    color: #fff; 
    text-decoration: none;
    transition: color 0.3s ease;
}

.btnParagraph {
    background-color: var(--azul-escuro);
    border: none;
    color: #fff; 
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 1rem;
}

.btnHeader:hover {
    color: var(--azul-claro);
    font-weight: 600;
    cursor: pointer;
}

.btnParagraph:hover {
    color: var(--azul-claro);
    font-weight: 600;
    cursor: pointer;
}

.itemList {
    background-color: var(--azul-escuro);
}