.footer {
  position: fixed;
  bottom: 0;
  background-color: var(--marrom);
  width: 100vw; 
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  @media screen and (min-width: 768px) {
    position: absolute;
    left: 0;
    width: 4rem;
    height: calc(100vh - 4rem);
    flex-direction: column;
  }
}
