.footer {
  position: fixed;
  bottom: 0;
  background-color: var(--marrom);
  width: 100vw; 
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0; 
  z-index: 1000;
}

@media screen and (min-width: 768px) {
  .footer {
      position: fixed;
      left: 0;
      width: 4rem;
      height: calc(100vh - 4rem);
      flex-direction: column;
  }
}
